<h1>
    <%= @warship.name %>
    <small>
      <%= link_to "Edit This Ship", edit_warship_path(@warship.id) %>
    </small>
</h1>

<div class="details">

  <p><%= image_tag @warship.image_url, class: 'pull-right' %></p>

  <p><strong>Name: </strong> <%= @warship.name %></p>
  <p><strong>Tier: </strong> <%= @warship.tier %></p>
  <p><strong>Type: </strong> <%= @warship.shiptype %></p>
  <p><strong>Country: </strong> <%= @warship.country.name %></p>
  <p><strong>Max Speed: </strong> <%= @warship.maxspeed %> knots</p>
  <p><strong>Detect Range: </strong> <%= @warship.detectrange %> km</p>


  <p><strong>Equipments: </strong>

  <% @warship.equippeds.each do |equipped| %>
    <% @eqp = Equipment.find_by(id: equipped.equipment_id)%>
    <% @amt = equipped.amount %>
    <li><%= @eqp.equiptype %> : <%= @amt%> x <%= @eqp.name %></li>
  <% end %>

  <ul>
    <p><strong>Survivability : </strong> <%= @warship.survivability %></p>
    <p><strong>Artillery : </strong> <%= @warship.artillery %></p>
    <p><strong>Aircraft : </strong> <%= @warship.aircraft %></p>
    <p><strong>Torpedoes : </strong> <%= @warship.torpedoes %></p>
    <p><strong>AA Defense : </strong> <%= @warship.aadefense %></p>
    <p><strong>Maneuverability : </strong> <%= @warship.maneuverability %></p>
    <p><strong>Concealment : </strong> <%= @warship.concealment %></p>
  </ul>



</div>
