<h1>
    <%= @warship.name %>
    <small>
      <% if session["user_id"].present? && User.find_by(id: session["user_id"]).present? %>
        <% current_user = User.find_by(id: session["user_id"]) %>
        <% if current_user.administrator == true %>
          <%= link_to "Edit This Ship", edit_warship_path(@warship.id) %>
          <%= link_to "Delete This Ship", warship_path(@warship.id), :method => :delete %>
        <% end %>
      <% end %>
    </small>
</h1>

  <p><%= image_tag @warship.image_url, class: 'pull-right' %></p>

  <aside>
    <ul>
      <p><strong>Survivability : </strong> <%= @warship.survivability %></p>
      <p><strong>Artillery : </strong> <%= @warship.artillery %></p>
      <p><strong>Aircraft : </strong> <%= @warship.aircraft %></p>
      <p><strong>Torpedoes : </strong> <%= @warship.torpedoes %></p>
      <p><strong>AA Defense : </strong> <%= @warship.aadefense %></p>
      <p><strong>Maneuverability : </strong> <%= @warship.maneuverability %></p>
      <p><strong>Concealment : </strong> <%= @warship.concealment %></p>
      <pp><%= link_to "More Details", "http://wiki.wargaming.net/en/Ship:#{@warship.name}" %></p>
    </ul>
  </aside>

<div class="details">



  <p><strong>Name: </strong> <%= @warship.name %></p>
  <p><strong>Tier: </strong> <%= @warship.tier %></p>
  <p><strong>Type: </strong> <%= @warship.shiptype %></p>
  <p><strong>Country: </strong> <%= @warship.country.name %></p>
  <p><strong>Max Speed: </strong> <%= @warship.maxspeed %> knots</p>
  <p><strong>Detect Range: </strong> <%= @warship.detectrange %> km</p>


  <p><strong>Equipments: </strong>

  <% @warship.equippeds.each do |equipped| %>
    <% @eqp = Equipment.find_by(id: equipped.equipment_id)%>
    <% @amt = equipped.amount %>
    <li><%= @eqp.equiptype %> : <%= @amt%> x <%= @eqp.name %></li>
  <% end %>

  <br>
  <br>

  <h3>Reviews</h3>

  <% @warship.reviews.each do |review| %>
    <% if review.user.present? %>
      <li><p><strong><%= review.rating %>&#9733</strong> by <%= review.user.name %> : <%= review.content %></p></li>
    <% end %>
  <% end %>

  <% if session["user_id"].present? && User.find_by(id: session["user_id"]).present? %>
    <% current_user = User.find_by(id: session["user_id"]) %>

      <br>
      <h3>Add a Review</h3>
        <%= form_tag "/reviews", :method => :post do %>
          Recommend:
          <select id="rating" name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <br>
          <%= label_tag :body, "What did you think about this ship?" %>
          <%= hidden_field_tag :warship_id, @warship.id %>
          <%= hidden_field_tag :user_id, current_user.id %>

          <br>
          <%= text_area_tag :content, '', rows: 4, cols: 50 %>
          <br>
          <%= submit_tag "Add Review" %>
          <% end %>
    <% end %>




</div>
