<!DOCTYPE html>
<html>
<head>
  <title>Final</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <ul>
      <li><%= link_to "Warships", warships_url %></li>
      <li><%= link_to "Countrys", countrys_url %></li>
      <li><%= link_to "Recent Battles", battles_path %></li>
      <li><%= link_to "Players", users_path %></li>
      <%= form_tag warships_url, :method => :get do %>
        <%= text_field_tag :keyword, '', placeholder: 'Search by name...' %>
      <% end %>
    </ul>
    <ul class="nav-right">
      <% if session["user_id"].present? %>
        <% current_user = User.find_by(id: session['user_id']) %>
          <% if current_user.present? %>
            <li>Welcome, <%= link_to current_user.name, user_path(current_user) %>!</li>
            <li><%= link_to "Sign Out", logout_path %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_path %></li>
            <li><%= link_to "Sign In", login_path %></li>
            <% end %>
      <% else %>
        <li><%= link_to "Sign Up", new_user_path %></li>
        <li><%= link_to "Sign In", login_path %></li>
      <% end %>
    </ul>
  </nav>

  <div class="container">

    <% if flash["notice"].present? %>
      <p><%= flash["notice"] %></p>
    <% end %>

    <%= yield %>

  </div>

</body>
</html>
